.user-profile h2 {
  margin-bottom: 16px;
}

.user-profile input[type="email"] {
  height: 40px;
  border-bottom: 1px solid;
  font-size: 1.4rem;
}

.user-profile__container {
  width: 100%;
  padding: 12px 30% 12px 12px;
  background-color: #fff;
}

.user-profile .radio-pick label {
  margin-right: 12px;
}

.user-profile button {
  background-color: #fdd835;
  color: #333;
  width: 30%;
}

.user-profile button:hover {
  background-color: #fdd835;
  color: #333;
}
