.order__table td {
  padding: 12px;
}

.order__item__img {
  width: 50px;
}

.order__item__product-name {
  display: flex;
  justify-content: start;
  align-items: center;
}

.order__item__img {
  margin-right: 12px;
}

.order__item__img > a > img {
  width: 100%;
}
