.review {
  margin-top: 32px;
}

.review__container {
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.review__header {
  border: 1px solid rgb(192, 191, 191);
  background-color: rgba(1, 125, 251, 0.1);
  padding: 32px;
}

.review__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.btn_1 {
  display: inline-block;
  outline: none;
  text-align: center;
  background-color: #fff;
  margin: 6px;
  border: none;
  padding: 8px 16px;
  border: 1px solid rgb(192, 191, 191);
  border-radius: 4px;
}

.btn_1--primary {
  background-color: rgb(246, 252, 255);
}

.btn_1--primary:focus {
  border-color: #017efc;
  color: #017efc;
}
.review__header__left > p {
  color: #017efc;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.review__header__left__special {
  font-size: 5rem;
}
.review__content {
  margin-top: 12px;
}
