.menu-main {
  position: fixed;
  top: 60px;
  left: 0;
  overflow-y: auto;
  height: calc(100% - 60px);
  padding: 8px;
  background-color: #fff;
  button {
    padding: 8px 12px;
    text-align: left;
    font-weight: bold;
    color: #888;
  }
  i {
    margin-right: 8px;
  }
  li {
    list-style: none;
    a {
      color: #333;
      padding: 12px;
      &:hover {
        color: var(--colorPrimary);
      }
    }
  }
}

.sub-menu {
  margin-bottom: 16px;
}
