.menu-account {
  display: flex;
  flex-direction: column;
}

.menu-account > li {
  width: 80%;
}

.title-user {
  display: flex;
  justify-items: start;
  align-items: center;
  margin-bottom: 24px;
}
.title-user__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

.title-user__img > img {
  width: 100%;
}

.title-user__info p {
  margin: 0;
}

.title-user__info p:last-child {
  font-size: 1.6rem;
  font-weight: bold;
}
