:root {
  --colorText: #333;
  --colorPrimary: #017fff;
  --colorBorder: #e6e6e6;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;

  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-150 {
  margin-top: 150px;
}

.pd-12 {
  padding: 12px;
}

.text-primary {
  color: var(--colorPrimary);
}

.d-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp--1 {
  -webkit-line-clamp: 1;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}
.text-clamp--5 {
  -webkit-line-clamp: 5;
}

.invalid {
  color: red !important;
}
.invalid .form-control {
  border-color: red !important;
}
.form-group input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  overflow: hidden;
  font-size: 1.4rem;
  padding-left: 12px;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid rgb(114, 114, 114);
  margin-bottom: 12px;
}

.form-group input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px 0;
  font-size: 1.6rem;
  outline: none;
  border: none;
  letter-spacing: 2px;
  font-weight: 350;
  cursor: pointer;
  border-radius: 2px;
}

.btn-primary {
  color: #fff;
  background-color: var(--colorPrimary);
}

.btn-primary:hover {
  opacity: 0.7;
}

.--container {
  background-color: #f5f5f5;
  height: auto;
  margin-top: -30px;
  padding: 25px 0;
  border-bottom: 4px solid var(--colorPrimary);
}

.padding-top-120 {
  padding-top: 120px;
}
