.nav-controll-product {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
}

.btn-controll-product-link {
  background-color: #fff;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
  color: var(--colorPrimary);
  width: 20%;
  font-weight: bold;
}

.btn-controll-product-link:hover {
  border-bottom-color: var(--colorPrimary);
  background-color: #fff;
  color: var(--colorPrimary);
}
