@import "./../../global.scss";
.home-page {
  padding: 12px;
}
.todo-list {
  background-color: #fff;
  padding: 12px 16px;
  @include border();
  h2 {
    font-weight: bold;
  }
  p {
    color: silver;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 25%;
    flex-direction: column;
    @include flex-box("center", "center");
    margin-top: 12px;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    &:hover {
      background-color: #f6f6f6;
    }
    span:first-child {
      color: $primary-color;
      font-weight: bold;
      font-size: 1.6rem;
    }
    &::after {
      content: " ";
      width: 1px;
      height: 40px;
      right: 0;
      border: 1px solid #ddd;
      position: absolute;
      @include transform("", "");
    }
  }
  &__item:nth-child(4)::after {
    border: 0 !important;
  }
  &__item:nth-child(8)::after {
    border: 0 !important;
  }
}
