/* category css */
.category {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.category__title {
  margin: 0;
  padding: 25px 0 25px 23px;
  font-size: 1.8rem;
  font-weight: 350;
  color: rgb(160, 160, 160);
}

.category__container {
  position: relative;
}

.category__title-item {
  border: 0.5px solid rgb(235, 235, 235);
  height: 152px;
  display: inline-block;
  color: var(--colorTetx);
}

.category__title-img img {
  width: 100%;
}
.category__title-name {
  text-align: center;
  font-size: 1.4rem;
  margin-top: -10px;
}

.category__title-item:hover {
  box-shadow: 0px 0px 5px rgba(1, 127, 255, 0.7);
}

@keyframes nextCategory {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes backCategory {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
