#login-btn,
#logout-btn,
#register-btn {
  background-color: var(--colorPrimary);
  cursor: pointer;
  border: none;
}

#login-btn:focus,
#register-btn:focus,
#logout-btn:focus {
  outline: none;
}

.btn--cart {
  border: none;
  outline: none;
  background-color: transparent;
}

.header__bottom-cart__quantity {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  right: 0;
  background-color: rgb(253, 216, 53);
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 20px;
}

.header--bottom-has-cart__item {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 6px;
}

.header--bottom-has-cart__item__img {
  max-width: 20%;
}

.header--bottom-has-cart__item__img > img {
  width: 100%;
}

.header--bottom-has-cart__item__name {
  left: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 6px;
}

.header--bottom-has-cart__item__price {
  flex: 0 0 25%;
  max-width: 25%;
  color: var(--colorPrimary);
  font-size: 1.4rem;
}
