.checkout__item__detail__action__delete {
  border: none;
  outline: none;
  color: var(--colorPrimary);
  background-color: #fff;
  font-size: 1.4rem;
  margin-right: 10px;
}

.checkout__item__detail__action__delete:hover {
  border-bottom: 1px solid var(--colorPrimary);
}

.checkout__item__detail__action__checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 12px;
  cursor: pointer;
}

.checkout__item__detail__action__label {
  font-size: 1.6rem;
  cursor: pointer;
}

.checkout__item__detail__action__checkbox:checked
  + .checkout__item__detail__action__label {
  color: var(--colorPrimary);
  font-weight: 500;
}
