.footer__info {
    padding: 48px 0 68px;
    text-align: justify;
}

.footer__info-header {
    font-size: 2.0rem;
    margin: 20px 0;
}

.footer__info-more {
    font-size: 1.2rem;
    color: var(--textColor);
    line-height: 1.6rem;
}

.footer__about {
    padding: 30px 0;
    background-color: #FBFBFB;
    border-top: 2px solid #ddd;
}

.footer__about-list {
    list-style: none;
    padding: 0;
}

.footer__about-item h3 {
    color: #666666;
}

.footer__about-item a{
    display: block;
    font-size: 1.2rem;
    padding: 8px 0;
    color:rgb(156, 156, 156);
}

.footer__about-item a:hover {
    color: var(--colorPrimary);
}

.footer__about-item a i {
    font-size: 1.6rem;
    margin-right: 8px;
    color: rgb(41, 41, 41);
}

.footer__about-item:nth-child(2) a i {
    margin-right: 12px;
}

.footer__about-item-img {
    display: inline-block;
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/49b5753902db445292818641f17183b0.png');
    margin-right: 8px;
}
.footer__about-download-list {
    list-style: none;
    padding: 0;
}

.footer__about-item-dowload img{
    width: 100%;
    margin-bottom: 11px;
}

.footer__about-item-dowload--border img {
    border: 1px solid rgb(112, 112, 112);
}
