.user-order-history h2 {
  margin-bottom: 16px;
}
.user-order-history__container {
  background-color: #fff;
}

.user-order-history__container table {
  width: 100%;
}

.user-order-history__container th {
  color: #aaa;
}

.user-order-history__container thead,
.user-order-history__container tr {
  display: flex;
  border-bottom: 0.5px solid rgb(231, 231, 231);
  padding: 16px 0;
}

.user-order-history__container th,
.user-order-history__container td {
  width: 15%;
}
.user-order-history__container th:nth-child(3),
td:nth-child(3) {
  flex-grow: 1;
}

.user-order-history__container th:nth-child(1),
td:nth-child(1) {
  padding-left: 12px;
}
.user-order-history__container tr:last-child {
  border: none !important;
}

.user-order-history__container thead:hover,
tr:hover {
  background-color: rgb(240, 254, 255);
}
